/* Added Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common and share css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: #3A3A3A;

}
.w-90 {
    width: 90%;
    margin: 0 auto;
}
.w-80 {
    width: 80%;
    margin: 0 auto;
}
.w-75 {
    width: 75%;
    margin: 0 auto;
}
.w-70 {
    width: 70%;
    margin: 0 auto;
}
section {
    padding: 80px 0;
}

/* nav related css code */
nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    position: relative;
    z-index: 10;
}
nav .menu-toggle i {
    font-size: 2rem;
    color: var(--main-color);
    display: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
}
nav .logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--main-color);
}

nav .nav-links {
    display: flex;
    /* gap: 50px; */
}
nav .nav-links li {
    list-style: none;
}

nav .nav-links a {
    display: inline-block;
    text-decoration: none;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    margin-left: 40px;
}
nav .nav-links a i {
    font-size: 1.5rem;
}


/* hero section related style */
.hero {
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.hero .hero-content {
    max-width: 50%;
}

.hero .hero-content h1 {
    font-size: 3.25rem;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 20px;
}
.hero .hero-content p {
    font-size: 1rem;
    color: var(--main-color);
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E02C6D;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.btn i {
    margin-left: 10px;
}

.hero .hero-img {
    max-width: 48%;
    background: url(../images/Circle\ design.svg) no-repeat center center/cover;
}
.hero .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* our-sponsor related css code */
.our-sponsor {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
}
.our-sponsor img {
    margin-top: 20px;
}

/* our products related css code */
.product-header {
    text-align: center;
}
.product-header h2 {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 50px;

}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.product-card {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
}
.product-card .star i {
    color: #FB8200;
}
.product-btn {
    text-align: right;
    margin-top: 40px;
}
.product-btn a {
    display: inline-block;
    color: #E02C6D;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.product-btn a i {
    margin-left: 10px;
}




/* Responsive media query code  */
@media screen and (max-width: 768px) {
    nav {
        width: 90%;
    }
    nav .menu-toggle i {
        display: block;
    }
    nav .nav-links {
        display: none;
    }
   
  
    .hero {
        flex-direction: column-reverse;
        height: auto;
    }
    .hero .hero-content,
    .hero .hero-img {
        max-width: 100%;
        text-align: center;
    }
    .hero .hero-content {
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .hero .hero-content h1 {
        font-size: 2rem;

    }
    .hero .hero-content p {
        font-size: 0.9rem;
    }
    .hero .hero-img img {
        width: 100%;
        height: auto;
    }
    .our-sponsor {
        margin-top: 40px;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        box-shadow: none;
        
    }

    .product-container {
        grid-template-columns: 1fr;
        gap: 20px;
    } 

}


